body {
	background-image: url("../img/background14.jpg" );
	background-size: 100% 100%;
}
#header {
	height: 70px;
	width: 1000px;
	padding: 5px;
	background-color: rgba(102, 153, 204, 0.8);
	text-align: center;
	color: white;
}
#coordEditor {
	height: 290px;
	width: 240px;
	float: left;
}
#editor {
	height: 400px;
	width: 400px;
	float: left;
}
#player {
	height: 400px;
	width: 1000px;
	float: left;
}
#storage{
	height: 400px;
	width: 150px;
	float: left;
}
#source {
	height: 320px;
	width: 250px;
	padding: 5px;
	float: left;
}
#right {
	background-color: rgb(135,10,8);
}
#left {
	background-color: rgb(222,148,41);
}
#x {
	background-color: rgb(96,127,15);
}
#y {
	background-color: rgb(104,153,199);
}
#repeat {
	background-color: rgb(62,69,127);
}

#divName {
	border-radius: 10px;
	border: none;
	float: top;
}
#draggable li
{
    border-radius: 10px;
    margin: 3px 3px 3px 3px;
    padding: 3px 3px;
    font-size: 0.8em;
    color:white;
    width: 145px;
    text-align:center;
 }
 
#sortable li {
    border-radius: 10px;
    margin: 3px 3px 3px 3px;
    padding: 3px 3px;
    font-size: 0.8em;
    color:white;
    width: 170px;
    background-color:#4679bd;
    text-align:center;
 }
 
.closeButton {
	margin: 8px;
	float:right;
}

.closeButton:hover {
 	background-color: yellow;
 	cursor: pointer;
}
#sortable {
   width:300px;
   height:110px;
   overflow:auto;
   list-style-type: none;
   float: right;
   border: dotted;
}   
#draggable {
	list-style-type: none;
}

#Main-Panel{
	margin-top: 0px;
}

/* div {
	border: none;
    border-radius: 25px;
    background-color: rgba(190, 190, 190, 0.5);
    margin: 5px;
}  */

.transparent{
	border: none;
    border-radius: 25px;
    background-color: rgba(190, 190, 190, 0.5);
    margin: 5px;
}
p {
	color: white;
}
th {
	color: white;
    text-align: left;
}
button {
	border: none;
	background-color: rgba(190, 190, 190, 0.5);
}

.content-div{
    border-radius: 10px;
	border: none;
	float: top;
}