body {
	background-image: url("../img/background14.jpg" );
	background-size: 100% 100%;
	
	
}
.body-class{
	min-width:100%;
}
#header {
	height: 70px;
	width: 1000px;
	padding: 5px;
	background-color: rgba(102, 153, 204, 0.8);
	text-align: center;
	color: white;
}
#coordEditor {
	height: 340px;
	width: 100%;
	float: left;
}

#source {
	height: 340px;
	width: 100%;
	padding: 5px;
	float: left;
}
#editor {
	height: 400px;
	width: 50%;
	float: left;
}

#player {
	width: 100%;
	float: left;
}
#storage{
	height: 400px;
	width: 15%;
	float: left;
}

#right {
	background-color: rgb(135,10,8);
}
#left {
	background-color: rgb(175,33,12);
}
#up {
	background-color: rgb(222,148,41);
}
#down {
	background-color: rgb(207,185,28);
}
#x {
	background-color: rgb(124,180,28);
}
#y {
	background-color: rgb(96,127,15);
}
#repeat, #end_repeat {
	background-color: rgb(104,153,199);
}
#show {
	background-color: rgb(51,118,150);
}
#hide {
	background-color: rgb(93,71,139);
}
#costume {
	background-color: rgb(62,69,127);
}
#background {
	background-color: rgb(8,42,71);
}
#divName {
	border-radius: 10px;
	border: none;
	float: top;
}
#draggable li
{
    border-radius: 10px;
    margin: 3px 3px 3px 3px;
    padding: 3px 3px;
    font-size: 0.8em;
    color:white;
    width: 145px;
    text-align:center;
 }
 
#sortable li {
    border-radius: 10px;
    margin: 3px 3px 3px 3px;
    padding: 3px 3px;
    font-size: 0.8em;
    color:white;
    width: 170px;
    background-color:#4679bd;
    text-align:center;
 }
 
.closeButton {
	margin:3.5px;
	float:right;
}

.closeButton:hover {
 	background-color: yellow;
 	cursor: pointer;
}
#sortable {
   width:300px;
   height:30px;
   overflow:auto;
   list-style-type: none;
   float: right;
   border: dotted;
}   
#draggable {
	list-style-type: none;
}

#Main-Panel{
	margin-top: 0px;
}

/* div {
	border: none;
    border-radius: 25px;
    background-color: rgba(190, 190, 190, 0.5);
    margin: 5px;
}  */

.transparent{
	border: none;
    border-radius: 10px;
    background-color: rgba(190, 190, 190, 0.5);
    margin: 5px;
}
p {
	color: white;
}
th {
	color: white;
    text-align: left;
}
button {
	border: none;
	background-color: rgba(190, 190, 190, 0.5);
}

.content-div{
	border: none;
	float: top;
	width:100%;
	margin-bottom: 10px;
}
.scene{
	overflow: scroll; 
	height: 300px; 
	width: 100%; 
	float: left; 
	border: dotted
}
.scene_play{ 
	height: 500px; 
	width: 95%;
    margin: 2rem;
	float: left; 
	border: dotted;
	opacity:1;
	background-color:white;
	
}
.form-control-inline {
    min-width: 0;
    width: 100;
    display: inline;
}
.nav-tabs-container{
	width:auto;
	float:left;
}
.tab-content-container{
	width:100%;
	float:left;
} 
.header-word{
	float:center;
}
.onbtn {
	float: right;
}
.input-word{
	color:black;
}
.storage-panel{
	width:15%;
}
.editor-panel{
	width:45%;
}
.tab-panel{
	width: 30%;
	height: 400px;
    float: left;
}
.dropbox-btn{
	width:75%
}
.inner-container{
	width:auto;
}
.scene-inner-container{
	width:90%;
	margin: 2rem;
	overflow: scroll; 
	height: 300px; 
	float: left; 
	border: dotted
}
.inner-tab{
	height:auto;
	width:auto;
}
.select-pane{
	width:100%;
}
